<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= render_head_title %></title>
    <link rel="icon" sizes="48x48" href="/static/favicon.svg">
    <meta name="google-site-verification" content="rFGAjwDSUveV-9hXo7g0kJQNGN1x4txos5tJVGl2NsI" />
    <meta name="description" content="<%= render_meta_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:site_name" content="farseek.top">
    <meta property="og:type" content="object">
    <meta property="og:title" content="Publish your github repo">
    <meta property="og:description" content="Publish your github repo.">
    <meta property="og:url" content="http://farseek.top">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', rel: 'preload', as: 'style', onload: "this.rel='stylesheet'", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': false %>
  </body>
</html>
