
<input type="hidden" id="form-token" value="<%= form_authenticity_token %>" />
<input type="hidden" id="github-token" value="<%= current_user.github_token %>" />


<div id="repo-page"></div>

<%= javascript_tag do %>
  var repoList = '<%= raw(@repo_list.to_json) %>'
<% end %>
<%= javascript_pack_tag 'components/front/users/Repo' %>
